<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dabdoub Flask Demo{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header>
    <div class="container">
      <h1 class="logo">Welcome to the Python Flask Demo</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('mohamad') }}">Mohamad</a></li> <!-- custom route -->
        </ul>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="container">
    <p>&copy; 2025 Mohamad Dabdoub | Flask Demo App</p>
  </footer>

</body>
</html>
